/* 
    Created on : 26.10.2016, 20:23:57
    Author     : Panganggo
*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#centering {                
    position: relative;
}
#main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px black solid;
    padding: 10px;          
}
#main_text {
    padding-top: 10px;
    padding-bottom: 30px;    
}
#text {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.cursor_normal {
    cursor: default;
}
input {
    cursor: pointer;
}
.inside {                
    text-align: center;
    margin-bottom: 10px;
}
.no_margin {
    margin-bottom: 0;
}
#footer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}
#text_footer {
    width: 148px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
#footer_text{    
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.error {
    color: red;
}
.success {
    color: green;
}
a {
    text-decoration: underline;                
    color: black;
}
a:hover {
    text-decoration: none;
}

